<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawarma Cloud</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
<h2>Соберите свою шаверму</h2>
<img th:src="@{/images/ShawarmaCloud.png}" alt="ShawarmaCloud" style="width:200px;height:200px">

<form method="POST" th:object="${shawarma}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Выберите лаваш:</h3>
            <div th:each="ingredient : ${wrap}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>Выберите мясо:</h3>
            <div th:each="ingredient : ${protein}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>Выберите сыр:</h3>
            <div th:each="ingredient : ${cheese}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>Выберите овощи:</h3>
            <div th:each="ingredient : ${veggies}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>Выберите соус:</h3>
            <div th:each="ingredient : ${sauce}">
                <input th:field="*{ingredients}" type="checkbox"
                       th:value="${ingredient.id}">
                <span th:text="${ingredient.name}">INGREDIENT</span><br>
            </div>
        </div>
    </div>

    <div>
        <h3>Назовите вашу шаверму:</h3>
        <input type="text" th:field="*{name}">
        <br>
        <br>
        <button>Собрать шавуху!</button>
    </div>
</form>
</body>
</html>