<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawarma Cloud</title>
</head>
<body>
<h2>Вход</h2>
<img th:src="@{/images/ShawarmaCloud.png}" alt="ShawarmaCloud" style="width:200px;height:200px">


<h3>Введите имя пользователя и пароль</h3>

<form method="POST" th:action="@{/login}" id="loginForm">

    <label for="username">Логин: </label>
    <input type="text" name="username" id="username">
    <br>

    <label for="password">Пароль: </label>
    <input type="text" name="password" id="password">
    <br><br>
    <input type="submit" value="Войти">

    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
</form>

<p>Впервые у нас? Нажмите
    <a th:href="@{/register}">здесь</a> для регистрации.
</p>
</body>
</html>