<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawarma Cloud</title>
</head>

<body>

<form method="POST" th:action="@{/orders}" th:object="${order}">
    <h1>Закажите свою шаверму!</h1>

    <img th:src="@{/images/ShawarmaCloud.png}" alt="ShawarmaCloud" style="width:200px;height:200px">

    <h3>Ваши шавермы в заказе:</h3>
    <a th:href="@{/design}" id="another">Собрать еще шаверму</a><br>
    <ul>
        <li th:each="shawarma : ${order.shawarmas}">
            <span th:text="${shawarma.name}">название шавермы</span></li>
    </ul>

    <h3>Детали доставки...</h3>
    <label for="deliveryName">Имя: </label>
    <input type="text" th:field="${order.deliveryName}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryName')}"
          th:errors="*{deliveryName}">deliveryName Error</span>
    <br>

    <label for="deliveryStreet">Улица: </label>
    <input type="text" th:field="${order.deliveryStreet}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryStreet')}"
          th:errors="*{deliveryStreet}">deliveryStreet Error</span>
    <br>

    <label for="deliveryCity">Город: </label>
    <input type="text" th:field="${order.deliveryCity}">
    <span class="validationError"
          th:if="${#fields.hasErrors('deliveryCity')}"
          th:errors="*{deliveryCity}">deliveryCity Error</span>
    <br>

    <h3>Оплата...</h3>
    <label for="ccNumber">Номер карты: </label>
    <input type="text" th:field="${order.ccNumber}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccNumber')}"
          th:errors="*{ccNumber}">CC Num Error</span>
    <br>

    <label for="ccExpiration">Срок действия: </label>
    <input type="text" th:field="${order.ccExpiration}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccExpiration')}"
          th:errors="*{ccExpiration}">ccExpiration Error</span>
    <br>

    <label for="ccCVV">CVV: </label>
    <input type="text" th:field="${order.ccCVV}">
    <span class="validationError"
          th:if="${#fields.hasErrors('ccCVV')}"
          th:errors="*{ccCVV}">ccCVV Error</span>
    <br>
    <br>

    <input type="submit" value="Подтвердить заказ">
</form>
</body>
</html>